@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body{
    min-height: 100%
}

body {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: none;
}

svg{
    background-color: gainsboro;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
}

#canvas{
    min-height: 600px;
    min-width: 950px;
}


.county:hover{
    fill: magenta;
}

g{
    color: #FDF1E7;
}

#tooltip{
    visibility: hidden;
    min-height: 26px;
    min-width: 320px;
    height: auto;
    width: auto;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}

#selectlabel{
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
}

#legend{
    color: rgb(56, 58, 74);
    font-size: 16px;
    text-align: center;
    min-height: 150px;
    max-width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}


#title{
    font-size: 32px;
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#story{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#description{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}